.register-form {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .register-form h2 {
    text-align: center;
  }
  
  .register-form form {
    display: flex;
    flex-direction: column;
  }
  
  .register-form label {
    margin-bottom: 10px;
  }
  
  .register-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  .register-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #555;
  }
  